<div class="flex flex-col items-center justify-center w-screen min-h-screen bg-gray-100 text-gray-800 p-10">

    <!-- Component Start -->
    <div class="flex flex-col flex-grow w-full max-w-xl bg-white shadow-xl rounded-lg overflow-hidden">
      <div class="bg-gray-300 p-4">
        <h4>Login into your account</h4>
      </div>
      <div #scrollContainer class="flex flex-col flex-grow h-0 p-4 overflow-auto">
  
        <div *ngFor="let chat of chatList">
          <div class="" [ngClass]="(chat.fromBot == true)?'flex w-full mt-2 space-x-3 max-w-xs':'flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end'">
            <div [ngClass]="(chat.fromBot == true)?'flex-shrink-0 h-10 w-10 rounded-full bg-gray-300':'flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end'" class=""></div>
             <div [ngClass]="chat.loader ? 'width-55' : ''" >
              <div [ngClass]="(chat.fromBot == true)?'bg-gray-300 p-3 rounded-r-lg rounded-bl-lg':'bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg'" class="">
                <p *ngIf="!chat.loader" class="text-sm"> {{ chat.message }} </p>
                <div *ngIf="chat.loader" class="typing-loader"></div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="bg-gray-300 p-4">
        <input [(ngModel)]="inputText" (keydown.enter)="onKeyDownEvent($event)" class="flex items-center h-10 w-full rounded px-3 text-sm" type="text" placeholder="Type your message…">
      </div>
</div>